# Exclude script logs
logs/
# Exclude python virtual environment and cache
venv/
**/__pycache__/

# Exclude evaluation results
results/
# Exclude Elasticsearch CA certificate and scraper config
code/key_scraper/ca.crt
code/key_scraper/config.json

# Exclude binaries
code/key_scraper/SSH-Key-Scraper
code/nonce_sampler/SSH-Client-Nonce-Sampler
